# 숫자형 변수

In [1]:
a = 1

In [2]:
print(a)

1

In [8]:
1a = 2

SyntaxError: invalid syntax (<ipython-input-8-971ad3f6197a>, line 1)

In [4]:
a = 3
print(a)

3

In [5]:
b = 2
c = 5
d = b + c
print(d)

7

# 문자형 변수

In [27]:
e = "hello"
print(e)
print(e[1])
print(e[2:4])
print(e[2:])

hello
e
ll
llo

In [7]:
f = ", world"
g = e + f
print(g)

hello, world

# 리스트

In [1]:
list01 = []
list02 = [1,3,5,6]
list03 = ['python', 'code']
list04 = [1,'python', 'code', 3]

In [7]:
list02 = [1,3,5,6]
print(list02[0])
print(list02[1])
print(list02[2])
print(list02[3])

1
3
5
6

In [11]:
print(list02[-1])
print(list02[-2])
print(list02[-3])
print(list02[-4])

6
5
3
1

In [1]:
list_in = [1,2,3,[6,7]]

In [2]:
print(list_in[0])
print(list_in[1])
print(list_in[2])
print(list_in[3])

1
2
3
[6, 7]

In [3]:
print(list_in[3][0])
print(list_in[3][1])

6
7

In [16]:
list05 = [1,2,3,4,5]
list06 = [6,7,8,9,10]
list07 = list05 + list06
print(list07)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
list08 = list05 - list06

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [21]:
list09 = list05 * 2
print(list09)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [26]:
n_list05 = len(list05) 
print(n_list05)

5

In [28]:
list10 = [2,4,6,8,10]
del list10[2]
print(list10)

[2, 4, 8, 10]

In [5]:
list11 = [1,2,3,4]
list11.append(5)
print(list11)

[1, 2, 3, 4, 5]

In [7]:
list11[1] = 7
print(list11)

[1, 7, 3, 4, 5]

In [30]:
list12 = [3, 5, 2, 7]
list12.sort()
print(list12)

[2, 3, 5, 7]

In [31]:
list12 = [3, 5, 2, 7]
list12.reverse()
print(list12)

[7, 2, 5, 3]

In [37]:
list12 = [3, 5, 2, 7]
list13 = sorted(list12, reverse=False)
print(list13)
list14 = sorted(list12, reverse=True)
print(list14)

[2, 3, 5, 7]
[7, 5, 3, 2]

In [42]:
list15 = [2,4,6,7]
element = list15.index(6)
print(element)

2

In [43]:
list15 = [2,4,6,7,6]
element = list15.index(6)
print(element)

2

In [47]:
list16 = [3,6,3,3,3]
cnt = list16.count(3)
print(cnt)

4

# 튜플

In [1]:
tuple01  = (1,2,3,4,5)
print(tuple01)

(1, 2, 3, 4, 5)

In [3]:
print(tuple01[3])

4

In [4]:
tuple01[0] = 7

TypeError: 'tuple' object does not support item assignment

# 딕셔너리

In [10]:
dic01 = {
    'name': 'John',
    'age': 28,
    'hobby': ['reading','soccer']
}
print(dic01)

{'name': 'John', 'age': 28, 'hobby': ['reading', 'soccer']}

In [11]:
dic01['blood'] = 'O'
print(dic01)

{'name': 'John', 'age': 28, 'hobby': ['reading', 'soccer'], 'blood': 'O'}

In [12]:
del dic01['blood']
print(dic01)

{'name': 'John', 'age': 28, 'hobby': ['reading', 'soccer']}

In [16]:
print(dic01['name'])

John

In [15]:
dic01[0]

KeyError: 0

In [19]:
print(dic01.keys())

dict_keys(['name', 'age', 'hobby'])

In [24]:
keys01 = list(dic01.keys())
print(keys01)
print(keys01[0])

['name', 'age', 'hobby']
name

In [25]:
print(dic01.values())

dict_values(['John', 28, ['reading', 'soccer']])

In [26]:
print(dic01.items())

dict_items([('name', 'John'), ('age', 28), ('hobby', ['reading', 'soccer'])])

# 집합 자료형

In [1]:
set([1,2,1,1,1])

{1, 2}

In [2]:
set("hello")

{'e', 'h', 'l', 'o'}

# 불(bool) 자료형

In [27]:
boo01 = True
boo02 = False
print(boo01)
print(boo02)

True
False

# 조건문

In [6]:
score = 100
if score > 90: 
    print("A 등급입니다!")

A 등급입니다!

In [8]:
score = 80
if score > 90: 
    print("A 등급입니다!")

In [7]:
score = 80
if score > 90: 
    print("A 등급입니다!")
else: 
    print("B 등급입니다!")

B 등급입니다!

In [10]:
score = 75
if score > 90: 
    print("A 등급입니다!")
elif score > 80 and score <= 90: 
    print("B 등급입니다!")
elif score > 70 and score <= 80:
    print("C 등급입니다!")
else:
    print("D 등급입니다!")

C 등급입니다!

# 비교 연산자

In [16]:
a = 7
b = 2
a > b

True

In [17]:
a >= b

True

In [18]:
a < b

False

In [19]:
a <= b

False

In [13]:
a == b

False

In [14]:
a != b

True

# 논리 연산자

In [3]:
a = 5
b = 3

In [4]:
a > 3 and b > 1

True

In [5]:
a > 3 and b > 5

False

In [6]:
a > 3 or b > 5

True

In [7]:
not b > 5

True

# in, not in 연산자

In [20]:
c = 3
list01 = [1,2,3,4,5]
c in list01

True

In [21]:
c not in list01

False

# for문

In [2]:
for i in range(0, 5):
    print("안녕하세요.")

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

In [4]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

In [5]:
seq = [1, 2, 5, 10]
for i in seq:
    print(i)

1
2
5
10

In [1]:
seq = ["Seoul", "Busan", "Daegu"]
for idx, city  in enumerate(seq):
    print(idx, city)

0 Seoul
1 Busan
2 Daegu

# while 문

In [6]:
i = 0
while(i<5):
    print("안녕하세요.")
    i = i + 1

안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.
안녕하세요.

# 예외 처리

In [2]:
1/0

ZeroDivisionError: division by zero

In [13]:
try:
    1/0
    print("계산 완료")
except:
    print("0으로 나눌 수 없습니다.")

0으로 나눌 수 없습니다.

In [14]:
try:
    1/1
    print("계산 완료")
except:
    print("0으로 나눌 수 없습니다.")

계산 완료

In [12]:
try:
    1/0
    print("계산 완료")
except:
    print("0으로 나눌 수 없습니다.")
finally:
    print("작업이 완료되었습니다.")

0으로 나눌 수 없습니다.
작업이 완료되었습니다.

In [11]:
try:
    1/1
    print("계산 완료")
except:
    print("0으로 나눌 수 없습니다.")
finally:
    print("작업이 완료되었습니다.")

계산 완료
작업이 완료되었습니다.

# 함수

In [1]:
def sum(a,b):
    c = a + b
    return c

In [3]:
sum(2, 5)

7

# 클래스

In [5]:
class Human:
    def __init__(self, blood, hobby):
        self.blood = blood
        self.hobby = hobby
        
    def run(self, time):
        print(time, "초 동안 달린다.")

In [7]:
cheolsoo = Human('A','soccer')
younghee = Human('B','music')

In [10]:
print(cheolsoo.blood)

A

In [11]:
print(cheolsoo.hobby)

soccer

In [15]:
cheolsoo.run(10)

10 초 동안 달린다.

In [16]:
print(younghee.blood)

B

In [18]:
print(younghee.hobby)

music

In [19]:
younghee.run(20)

20 초 동안 달린다.

# 객체 삭제

In [20]:
del cheolsoo

In [23]:
print(cheolsoo)

NameError: name 'cheolsoo' is not defined